* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #EF5F4C;
  --background-color: #ffffff;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #FFFFFF8f;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --font-family: "Poppins", sans-serif;
  --text: 1.6rem/1.5 var(--font-family);
  --text-lg: bold 3.2rem/125% var(--font-family);
  --text-md: normal 1.4rem/150% var(--font-family);
  --text-sm: bold 1.2rem/170% var(--font-family);
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;

  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

ul {
  list-style: none;
}

a {
  color: inherit; /*Herdar*/
  text-decoration: none;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;

  transition: all 200ms;
}

nav, header {
  background-color: var(--surface-color);
}


/* Definições globais do layout */
.container {
  padding-inline: 3.2rem;
  max-width: 192rem;
  margin-inline: auto;
}

@media (max-width: 768px) {
  h1, p, span, a {
    font-size: 75%;
  }
}