header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 3.2rem;

  font: var(--text-md);
  color: var(--text-color-secondary);
}

#profile {
  max-width: 59.2rem;
  display: flex;
  gap: 3.2rem;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);

  margin-bottom: 0.8rem;
}

#profile img {
  max-width: 17.4rem;
  max-height: 17.4rem;
  object-fit: cover;
  border-radius: 50%;
}

#info {
  width: 28rem;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.6rem;
}

#info li {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 2.4rem;

    padding-top: 1rem;
  }

  #profile {
    flex-direction: column;
    align-items: center;
  }

  #profile h1 {
    text-align: center;
  }

  #profile p {
    text-align: center;
  }

  #info {
    width: 100%;
    flex-direction: row;
  }

  #info span {
    text-align: center;
  }
  #info li img {
    width: 14%;
  }
}