main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.4rem;

  padding-block: 2.4rem;

  background-color: var(--background-color);
}

main img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  main {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(3, 1fr);

    padding-block: 0;
  }

  main img {
    width: 100%;
    height: auto;
  }

  .container {
    padding-inline: 0;
  }
}